body{
    background-color: #EFEFEF;
 
}

.user {
    width: 50px;
    border-radius: 30px;
} 

.box {
    width: 1020px;
    height: 100%px;
    border-radius: 8px;
    padding: 10px;
    background-color: #FFFFFF;
}

.driver {
    width: 965px;
    height: 70px;
    border-radius: 8px;
    margin: 5px;
    margin-left: 15px;
    background-color: aquamarine;
}
.conteiner-box{
    margin-left: 20px;
}
.box-info {
    width: 316px;
    height: 224px;
    margin: 5px;
    border-radius: 12px;
    background-color: aquamarine;

}

.box-info-driver {
    width: 642px;
    height: 282px;
    margin: 5px;
    border-radius: 12px;
    background-color: aquamarine;
}

.box-info-driver-map {
    width: 316px;
    height: 282px;
    margin: 5px;
    border-radius: 12px;
    background-color: aquamarine;

}

.icon-info {
    margin-left: -10px;
    margin-top: 30px;
    width: 48px;
}
.title-info{
    margin-top: 20px;
    margin-bottom: -5px;

}

.text-info{
    width: 200px;
    height: 24px;
    border-radius: 10px;
    color: black;
    background-color: #ffffff;
}


.table tr {
    height: 80px; 
  }
  .table td, .table th {
    text-align: left; 
    vertical-align: middle;  
  }

.tag-color {   
    border-radius: 4px;  
    padding: 5px;
    color: #4B4B4C!important;  

}

.blue { 
    background-color: #E4EFFF!important; 

}

.orange { 
    background-color: #FFD8B1!important; 

}

.yellow { 
    background-color: #FCF96B!important; 
}

.purble { 
    background-color: #DCB1FF!important; 
}

.deep-blue { 
    background-color: #6F8DEA!important; 
}

.deep-green { 
    background-color: #D0FFB1!important; 
}

.green-activity-driver { 
    background-color: #EAFAE4!important; 
}

.driver-status {
    margin-top: -20px;
    margin-bottom: 20px;
}